Repository TheAnsarya/ffmq-info: changes, and which pre-commit hooks are due for each by the changed paths.
All: tabs-not-spaces, check-yaml, check-json

.pre-commit-config.yaml:

# FFMQ Info Pre-commit Hook Configuration
# https://pre-commit.com

repos:
  - repo: local
    hooks:
      - id: tabs-not-spaces
        name: Enforce tabs (not spaces) in Python files
        entry: python tools/formatting/convert_spaces_to_tabs.py
        language: system
        types: [python]
        pass_filenames: true
      
      - id: trailing-whitespace
        name: Trim trailing whitespace
        entry: python -c "import sys; [print(f.strip(), end='\n', file=open(f, 'w')) for f in sys.argv[1:]]"
        language: system
        types: [text]
        pass_filenames: true
      
      - id: check-yaml
        name: Check YAML syntax
        entry: python -m yaml
        language: system
        types: [yaml]
        pass_filenames: false
      
      - id: check-json
        name: Check JSON syntax
        entry: python -m json.tool
        language: system
        types: [json]
        pass_filenames: true
      
      - id: check-merge-conflict
        name: Check for merge conflicts
        entry: git diff --check
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: end-of-file-fixer
        exclude: '\.txt$|\.log$'
      - id: mixed-line-ending
        args: ['--fix=lf']

# To install: pip install pre-commit
# To activate: pre-commit install
# To run manually: pre-commit run --all-files

docs: Add comprehensive session status and summary documentation
  docs/SESSION_STATUS.md
  docs/SESSION_SUMMARY_CURRENT.md
Due: none

feat: Add byte-level ROM dialog analyzer for DTE mapping correction
  reports/byte_analysis.txt
  tools/analysis/analyze_dialog_bytes.py
Due: tabs-not-spaces

🔍 BREAKTHROUGH: Discovered FFMQ dialog dictionary system
  docs/DICTIONARY_SYSTEM_DISCOVERY.md
  tools/analysis/analyze_dialog_structure.py
  tools/analysis/test_dialog_decoder.py
  tools/extraction/extract_dictionary.py
Due: tabs-not-spaces

📊 Session Summary: Dictionary System Discovery Complete
  complex_extracted.tbl
  docs/SESSION_SUMMARY_2025-01-24.md
  ~docs/prompts 2025-10-24.txt
Due: none

✨ Rename 1293 CODE_* references with meaningful names from comments
  reports/code_reference_renames.txt
  src/asm/bank_01_documented.asm
  src/asm/bank_02_documented.asm
  src/asm/bank_0B_documented.asm
  src/asm/bank_0C_documented.asm
  src/asm/bank_0D_documented.asm
  src/asm/banks/bank_00.asm
  src/asm/banks/bank_01.asm
  src/asm/banks/bank_02.asm
  src/asm/banks/bank_02.backup_20251102_205802.asm
  src/asm/banks/bank_0B.asm
  src/asm/banks/bank_0C.asm
  src/asm/ffmq_full_disassembly.asm
  tools/analysis/rename_code_references.py
Due: tabs-not-spaces

🎯 Fix 16 unknown characters in dialog dictionary - now 98%+ readable
  reports/unknown_characters.txt
  simple.tbl
  tools/analysis/analyze_unknown_chars.py
  tools/analysis/deduce_characters.py
  tools/analysis/update_char_table.py
Due: tabs-not-spaces

📚 Add comprehensive text toolkit documentation and GitHub issues
  complex_extracted.tbl
  docs/CHAR_ANALYSIS.txt
  reports/code_label_renames.txt
  reports/code_labels_analysis.txt
  reports/code_labels_rename_plan.json
  reports/label_renames.json
  src/asm/analyzed/boot_sequence.asm
  src/asm/analyzed/dma_graphics.asm
  src/asm/analyzed/input_handler.asm
  src/asm/analyzed/menu_system.asm
  src/asm/analyzed/nmi_handler.asm
  src/asm/bank_00_documented.asm
  src/asm/bank_00_section2.asm
  src/asm/bank_00_section3.asm
  src/asm/bank_00_section4.asm
  src/asm/bank_00_section5.asm
  src/asm/bank_07_documented.asm
  tools/README.md
  tools/TEXT_TOOLKIT_GUIDE.md
  tools/analysis/analyze_code_labels.py
  tools/analysis/analyze_control_codes.py
  tools/analysis/find_unknown_chars.py
  tools/analysis/rename_all_code_labels.py
  tools/ffmq_text.py
  tools/github/issues_text_system.json
  tools/refactoring/rename_code_labels.py
  ~docs/prompts 2025-10-24.txt
Due: tabs-not-spaces, check-json

🔬 Add control code analysis and round-trip testing tools
  docs/CONTROL_CODES.md
  tools/analysis/analyze_control_handlers.py
  tools/testing/test_text_roundtrip.py
Due: tabs-not-spaces

📊 Add dialog statistics and text system dashboard tools
  tools/analysis/dialog_statistics.py
  tools/analysis/text_system_dashboard.py
Due: tabs-not-spaces

📝 Add comprehensive session summary - Jan 24, 2025
  ~docs/SESSION_SUMMARY_2025-01-24.md
Due: none

🎯 Dialog Extraction Complete - Working with Correct Character Table
  complex_extracted.tbl
  complex_reference.tbl
  data/extracted_dialogs.txt
  debug_extraction.py
  extracted_dialogs.txt
  simple.tbl
  simple_reference.tbl
  test_tbl.py
  tools/analysis/check_dict_structure.py
  tools/analysis/compare_with_gamefaqs.py
  tools/analysis/fix_char_table_gamefaqs.py
  tools/analysis/test_dialog_decoder.py
  tools/extraction/extract_all_dialogs.py
  ~docs/prompts 2025-10-24.txt
Due: tabs-not-spaces

🚀 Text Toolkit Complete - Re-Insertion, CLI Tool, Control Code Analysis
  docs/CONTROL_CODES.md
  docs/CONTROL_CODES_ANALYSIS.md
  tools/ffmq_text_tool.py
  tools/insertion/import_complex_text.py
Due: tabs-not-spaces

Cleanup - Organized Root Scripts & Removed Debug Files
  complex_reference.tbl
  debug_extraction.py
  debug_table_loading.py
  extracted_dialogs.txt
  simple_reference.tbl
  test_comprehensive.py
  test_control_codes.py
  test_decoder.py
  test_dialog_21.py
  test_dialog_edit.py
  test_dte_spaces.py
  test_encoding.py
  test_tbl.py
  test_text_systems.py
  tools/analysis/analyze_opening_dialog.py
  tools/analysis/analyze_unknown_bytes.py
  tools/analysis/build_dte_table.py
  tools/analysis/check_byte_contexts.py
  tools/analysis/check_dialog_59.py
  tools/analysis/check_dialog_hex.py
  tools/analysis/check_header.py
  tools/analysis/check_missing.py
  tools/analysis/check_opening_dialog.py
  tools/analysis/check_pointer_deep.py
  tools/analysis/check_pointer_format.py
  tools/analysis/check_rom_bytes.py
  tools/analysis/check_spaces.py
  tools/analysis/check_spell_data.py
  tools/analysis/check_you_byte.py
  tools/analysis/generate_window_colors.py
  tools/analysis/show_decoded_dialogs.py
  tools/analysis/verify_decoder.py
  tools/analysis/verify_dte_table.py
  ~docs/prompts 2025-10-24.txt
Due: tabs-not-spaces

Simple String Extraction Complete - 760 strings from 10 tables
  data/all_simple_text.json
  data/text_simple/accessory_names.csv
  data/text_simple/accessory_names.txt
  data/text_simple/all_simple_text.json
  data/text_simple/armor_names.csv
  data/text_simple/armor_names.txt
  data/text_simple/attack_names.csv
  data/text_simple/attack_names.txt
  data/text_simple/helmet_names.csv
  data/text_simple/helmet_names.txt
  data/text_simple/item_names.csv
  data/text_simple/item_names.txt
  data/text_simple/location_names.csv
  data/text_simple/location_names.txt
  data/text_simple/monster_names.csv
  data/text_simple/monster_names.txt
  data/text_simple/shield_names.csv
  data/text_simple/shield_names.txt
  data/text_simple/spell_names.csv
  data/text_simple/spell_names.txt
  data/text_simple/weapon_names.csv
  data/text_simple/weapon_names.txt
  docs/SIMPLE_STRINGS.md
  tools/extraction/extract_simple_text.py
  tools/ffmq_text_tool.py
Due: tabs-not-spaces, check-json

Dynamic Code Analysis Complete - Mapped 0x10-0x1E (Issue #73)
  data/dynamic_code_analysis.txt
  data/dynamic_code_samples.txt
  data/extracted_dialogs.json
  data/extracted_dialogs.txt
  docs/DYNAMIC_CODES.md
  tools/analysis/analyze_dynamic_codes.py
  tools/extraction/extract_all_dialogs.py
Due: tabs-not-spaces, check-json

Session Summary + Quick Reference Guide
  docs/DYNAMIC_CODES_QUICK_REF.md
  ~docs/SESSION_SUMMARY_2025-11-12.md
Due: none

Complete Dialog System Disassembly - All 48 Control Code Handlers (Issue #72)
  data/control_code_handlers.txt
  docs/DIALOG_DISASSEMBLY.md
  docs/HANDLER_DISASSEMBLY.md
  tools/analysis/disassemble_dialog_system.py
  tools/analysis/extract_handler_disassembly.py
  ~docs/SESSION_SUMMARY_2025-11-12_DISASSEMBLY.md
Due: tabs-not-spaces

Unknown Code Analysis - Identified Code 0x0E as Memory Write Operation
  docs/CONTROL_CODE_IDENTIFICATION.md
  docs/UNKNOWN_CODES_ANALYSIS.md
  tools/analysis/analyze_unknown_codes.py
Due: tabs-not-spaces

Session Complete - Comprehensive Summary and Quick Reference Guide
  CONTROL_CODES_QUICK_REF.md
  ~docs/SESSION_SUMMARY_2025-11-12_COMPLETE.md
Due: none

Add ROM test patcher infrastructure for control code validation
  docs/ROM_TEST_RESULTS.md
  tools/testing/rom_test_patcher.py
Due: tabs-not-spaces

Add dictionary compression optimization analyzer and report
  docs/DICTIONARY_OPTIMIZATION.md
  tools/analysis/dictionary_optimizer.py
Due: tabs-not-spaces

Add comprehensive unknown code investigation tools and analysis
  docs/SUBROUTINE_ANALYSIS.md
  docs/UNKNOWN_CODES_INVESTIGATION.md
  tools/analysis/subroutine_analyzer.py
  tools/analysis/unknown_code_investigator.py
Due: tabs-not-spaces

Add complete dialog compiler for ROM hacking and fan translations
  data/sample_dialog_script.txt
  docs/SAMPLE_COMPILATION_REPORT.md
  tools/rom_hacking/dialog_compiler.py
Due: tabs-not-spaces

Add comprehensive session progress report documenting all achievements
  docs/SESSION_PROGRESS_REPORT.md
Due: none

Add comprehensive toolkit quick reference guide for users
  docs/TOOLKIT_QUICK_REFERENCE.md
Due: none

feat: Add comprehensive manual testing docs and event system analyzer
  CREATE_GITHUB_ISSUES.md
  GITHUB_ISSUES.md
  MANUAL_TESTING_TASKS.md
  WHAT_NEXT.md
  docs/EVENT_SYSTEM_ARCHITECTURE.md
  docs/EVENT_SYSTEM_QUICK_START.md
  tools/analysis/README.md
  tools/analysis/analyze_control_codes.py
  tools/analysis/event_system_analyzer.py
  ~docs/SESSION_SUMMARY_EVENT_SYSTEM.md
  ~docs/prompts 2025-10-24.txt
Due: tabs-not-spaces

feat: Add complete ROM hacking toolchain with 4 production tools
  README.md
  docs/ROM_HACKING_TOOLCHAIN_GUIDE.md
  tools/analysis/README.md
  tools/analysis/character_encoding_verifier.py
  tools/analysis/parameter_pattern_analyzer.py
  tools/rom_hacking/README.md
  tools/rom_hacking/enhanced_dialog_compiler.py
  tools/rom_hacking/event_script_decompiler.py
Due: tabs-not-spaces

Add event script validator for FFMQ
  tools/analysis/character_encoding_verifier.py
  tools/analysis/event_system_analyzer.py
  tools/analysis/parameter_pattern_analyzer.py
  tools/rom_hacking/enhanced_dialog_compiler.py
  tools/rom_hacking/event_script_decompiler.py
  tools/rom_hacking/script_validator.py
Due: tabs-not-spaces

feat: Add 4 advanced ROM hacking tools (2,829 lines)
  tools/analysis/command_usage_profiler.py
  tools/analysis/dialog_diff_analyzer.py
  tools/rom_hacking/batch_rom_patcher.py
  ~docs/prompts 2025-10-24.txt
Due: tabs-not-spaces

feat: Add 8 advanced analysis and workflow tools (6,130 lines)
  tools/analysis/event_flow_visualizer.py
  tools/analysis/script_optimizer.py
  tools/analysis/translation_memory.py
  tools/rom_hacking/rom_offset_mapper.py
Due: tabs-not-spaces

feat: Add 3 essential workflow tools - linter, parameter DB, format converter (2,065 lines)
  tools/analysis/parameter_value_database.py
  tools/analysis/script_linter.py
  tools/conversion/batch_format_converter.py
Due: tabs-not-spaces

feat: Add 4 essential ROM hacking tools - testing, documentation, metrics, dependency analysis (3,250 lines)
  tools/analysis/command_usage_profiler.py
  tools/analysis/dependency_graph_generator.py
  tools/analysis/dialog_diff_analyzer.py
  tools/analysis/event_flow_visualizer.py
  tools/analysis/parameter_value_database.py
  tools/analysis/script_linter.py
  tools/analysis/script_metrics_analyzer.py
  tools/analysis/script_optimizer.py
  tools/analysis/translation_memory.py
  tools/conversion/batch_format_converter.py
  tools/documentation/command_reference_generator.py
  tools/rom_hacking/batch_rom_patcher.py
  tools/rom_hacking/rom_offset_mapper.py
  tools/testing/test_rom_builder.py
Due: tabs-not-spaces

feat: Add 3 advanced development tools - validation, automation, debugging (2,010 lines)
  tools/automation/build_automation.py
  tools/debugging/debug_helper.py
  tools/validation/script_validator.py
Due: tabs-not-spaces

feat: Add asset manager and fix lint issues (570 lines)
  tools/analysis/dependency_graph_generator.py
  tools/assets/asset_manager.py
  tools/automation/build_automation.py
  tools/debugging/debug_helper.py
  tools/validation/script_validator.py
  ~docs/prompts 2025-10-24.txt
Due: tabs-not-spaces

feat: Add comprehensive SNES/FFMQ graphics extraction tools (2,460 lines)
  tools/graphics/ffmq_graphics_extractor.py
  tools/graphics/snes_graphics_extractor.py
  tools/graphics/snes_palette_extractor.py
  tools/graphics/snes_sprite_extractor.py
  tools/graphics/snes_tilemap_renderer.py
  ~docs/prompts 2025-10-24.txt
Due: tabs-not-spaces

feat: Add ROM analysis and data extraction tools (2,140 lines)
  tools/analysis/snes_rom_analyzer.py
  tools/extraction/data_table_extractor.py
  tools/utilities/hex_editor.py
Due: tabs-not-spaces

chore: Update session logs and prompts
  ~docs/prompts 2025-10-24.txt
Due: none

feat: Add comprehensive battlefield/combat system tools (2,270 lines)
  tools/battlefield/ffmq_ai_decompiler.py
  tools/battlefield/ffmq_battle_mechanics_docs.py
  tools/battlefield/ffmq_battlefield_editor.py
  tools/battlefield/ffmq_damage_calculator.py
  tools/battlefield/ffmq_enemy_editor.py
  tools/graphics/snes_graphics_extractor.py
Due: tabs-not-spaces
